@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

*
{
	box-sizing: border-box;
}

:root
{
	--color:black;
	--page-width: 80%;
}

body
{
	font-family: sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

header
{
	font-family: "Fredoka One", cursive;
	font-size: 36px;
	margin: 0px;
	padding: 25px;
	text-align: center;
}

main
{
	margin: 0px auto;
	width: var(--page-width);
}

.display
{
	display: block;
}

.hidden
{
	display: none;
}


/*	******************************************************************************************************************	*/
/*	******************************************************************************************************************	*/
/*	Style specific to the import section and its children																*/
/*																														*/

#import-section
{
	padding: 5px;
}

textarea
{
	background-repeat: no-repeat;
	height: auto;
		min-height: 50vh;
	margin-bottom: 15px;
	margin-top: 5px;
	resize: none;
	width: 100%;
}

textarea.background
{
	background-image: url("import background.png");
		background-position: center;
		background-repeat: no-repeat;
}

#import-button
{
	margin-top: 10px;
}



/*	******************************************************************************************************************	*/
/*	******************************************************************************************************************	*/
/*	Style specific to the ladder section and its children																*/
/*																														*/

/*	Since when goes padding at the top of the page mess with the sticky footer?	*/
/* #ladder-section
{
	padding: 5px;
} */
/*	Since when goes padding at the top of the page mess with the sticky footer?	*/

.rung
{	/*	There should be a 5px margin between each rung of the ladder													*/

	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	margin-top: 5px;
}

.rung:first-child
{	/*	But there should be no margin above the first rung.  It messes up the sticky footer								*/

	margin-top: 0px;
}

.rung > *
{	/*	There should be a 10px margin between the children of each rung													*/

	flex-grow: 0;
	flex-shrink: 0;
	margin-right: 10px;
}

.rung > .number
{
	text-align: right;
	width: 30px;
}

.rung > .word
{
	width: 100px;
}

.rung > .message
{
	flex-grow: 1;
	flex-shrink: 0;
	margin-right: 0px;
	width: 200px;
}

.rung.error > *
{
	background: red;
	border-color: red;
	color: white;
}



/*	******************************************************************************************************************	*/
/*	******************************************************************************************************************	*/
/*	Style specific to the about section and its children																*/
/*																														*/

#about-wrapper
{
	background-color: rgba(255, 255, 255, 0.75);
	position: absolute;
		left: 0px;
		top: 0px;
	height: auto;
		min-height: 100vh;
	width: 100%;
}

#about-div,
#help-div
{
	border: 2px black solid;
	margin: 25px auto;
	padding: 20px;
	width: var(--page-width);
}

/*                                         */
/* style specific to sticky footer         */
/*                                         */

body, html
{
	height: 100%;
}

#wrapper
{
	margin-bottom: -50px;
	min-height: 100%;
}

#push
{
	height: 50px;
}

footer
{
	background-color: black;
	color: white;
	font-size: 10px;
	height: 30px;
	margin-top: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%
}

#footer
{
	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	height: 10px;
	margin: 0px auto;
	width: var(--page-width);
}

#footer > div
{
	flex-grow: 1;
	flex-shrink: 1;
	height: 10px;
	text-align: left;
	width: 45%;
}

#footer > div:last-child
{
	text-align: right;
}

/*                                         */
/* media queries for responsive design     */
/*                                         */

@media screen and (max-width: 572px)
{
}